body{
  
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.container{
  background: rgb(200, 196, 196);
  border-radius: 10px;
  margin: 30px;
  padding: 13px;
}

a{
  text-decoration: none;
}

.container h1{
  text-align: center;
}
h3{
  font-size: 30px;
}
.hero{
  background-color: floralwhite;
}
.hero .hero2
{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  border-radius: 10%;
  text-align: center;
  width: 70%;
  line-height: 2;
  margin: auto;
}
.hero .albums
{
background-color: lavender;
padding: 15px;
display: flex;
justify-content: space-evenly;
}
 h3
{
  text-align: center;
}
.albums ul
{
  background-color: lemonchiffon;
  width: 20%;
  font-size: 30px;
  line-height: 2;
  
}
.albums li
{
  list-style-type:circle;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: bottom 20px; 
}
.albums li a
{
color:brown;
}
.albums li a:hover
{
color:rgb(59, 30, 30);
cursor: pointer;
}
.crew
{
display:flex;
align-items: center;
justify-content: space-evenly;
}
.crew .member
{
  width:30%;
  background-color: rgb(173, 173, 168);
}
.crew .member .caption
{
padding: 20px;
text-align:center;
font-size: 20px;
}
.crew img
{
  width: 100%;
}
img{
  background-position: center;
  padding-right: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background: size 30px;
  
}
footer
{
  text-align: center;
  padding: 20px;
  font-weight: 700;
}


  
    
      
